---
title: Nick Holden
---

<div class="header">
  <div class="headshot">
    <%= image_tag 'headshot.png', width: 150, height: 150 %>
  </div>
  <div class="contact-icons">
    <div class="icon">
      <% link_to('mailto:nick.r.holden@gmail.com', target: '_blank') do %><i class="fa fa-envelope"></i><% end %>
    </div>
    <div class="icon">
      <% link_to('https://github.com/nholden', target: '_blank') do %><i class="fa fa-github"></i><% end %>
    </div>
    <div class="icon">
      <% link_to('https://www.linkedin.com/in/nickholden', target: '_blank') do %><i class="fa fa-linkedin-square"></i><% end %>
    </div>
    <div class="icon">
      <% link_to('https://www.twitter.com/nickyholden', target: '_blank') do %><i class="fa fa-twitter-square"></i><% end %>
    </div>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h1>Hi!</h1>
  </div>
  <div class="content">
    <p>
      I&rsquo;m Nick, a software developer based out of San Diego. I&rsquo;ve always had an interest in programming, and since I completed
      <%= link_to('UC Berkeley&rsquo;s Agile Development Using Ruby on Rails',
                  'https://edx.org/professional-certificate/agile-development-using-ruby-rails',
                  target: '_blank') %>
      professional certificate program in 2014, I&rsquo;ve been hooked on optimizing for programmer happiness and convention over configuration.
      Today, I&rsquo;m a developer at <%= link_to('Real HQ', 'https://realhq.com', target: '_blank') %>, and I spend a whole lot of my free
      time learning about new tech and working on side projects.
    </p>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h2>Projects</h2>
  </div>
  <div class="content">
    <div class="project">
      <div class="project-title"><%= link_to('Monday Miles', 'https://github.com/nholden/monday-miles', target: '_blank') %></div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= rails_tech_tag %><%= rspec_tech_tag %><%= javascript_tech_tag %><%= vue_js_tech_tag %></div>
      <div class="project-description">Analyzes Strava data to help athletes celebrate Monday finishes</div>
    </div>
    <div class="project">
      <div class="project-title"><%= link_to('DiffAlert', 'https://github.com/nholden/diffalert', target: '_blank') %></div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= rails_tech_tag %><%= rspec_tech_tag %><%= javascript_tech_tag %></div>
      <div class="project-description">Get email or Slack alerts when specific files in your GitHub repositories change</div>
    </div>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h2>Blog posts</h2>
  </div>
  <div class="content">
    <div class="blog-post">
      <div class="blog-post-title">
        <%= link_to('Continuously deploy custom Heroku error and maintenance pages from your app’s repository', 'https://dev.to/nholden/continuously-deploy-custom-heroku-error-and-maintenance-pages-from-your-apps-repository-13kn', target: '_blank') %>
      </div>
      <div class="blockquote">
        <p>
          Heroku recommends hosting custom error and maintenance pages on Amazon S3, but it can be easy to upload pages there, forget about them, and have them fall out of sync with the rest of your application. One solution is to have them continuously deployed from your application&rsquo;s repository.
        </p>
      </div>
    </div>
    <div class="blog-post">
      <div class="blog-post-title">
        <%= link_to('Try ending today with a failing test for a great start tomorrow', 'https://dev.to/nholden/try-ending-today-with-a-failing-test-for-a-great-start-tomorrow-3i8j', target: '_blank') %>
      </div>
      <div class="blockquote">
        <p>
          Starting with a failing test means I know exactly what to work on: making it pass. Compared to an item on a to-do list, a failing test is better at returning my mind to the state it was in when I was focused deeply on the task.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h2>Open source contributions</h2>
  </div>
  <div class="content">
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[vuejs-tips/v-money] Add allowBlank option', 'https://github.com/vuejs-tips/v-money/pull/51', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= javascript_tech_tag %><%= vue_js_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[travis-ci/docs-travis-ci-com] Correct filename in database setup documentation', 'https://github.com/travis-ci/docs-travis-ci-com/pull/1701', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= documentation_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[strava/developers.strava.com] Correct documentation for deleting webhook subscriptions', 'https://github.com/strava/developers.strava.com/pull/49', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= documentation_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[bundler/bundler] Add man page for `bundle doctor`', 'https://github.com/bundler/bundler/pull/6271', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= documentation_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[exercism/ruby] crypto-square: Reflect changes to problem specifications', 'https://github.com/exercism/ruby/pull/738', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= minitest_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[victorjonsson/jQuery-Form-Validator] Fix issue with hyphens in file validation mime types', 'https://github.com/victorjonsson/jQuery-Form-Validator/pull/650', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= javascript_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[exercism/exercism.io] Include "Help make this better" text on track topic pages', 'https://github.com/exercism/exercism.io/pull/3475', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= sinatra_tech_tag %><%= minitest_tech_tag %></div>
    </div>
  </div>
</div>
