---
title: Welcome to Middleman
---

<h1>Hi!</h1>

<p>
  I&rsquo;m Nick, a software developer based out of San Diego. I&rsquo;ve always had an interest in programming, and since I completed
  <%= link_to('UC Berkeley&rsquo;s Agile Development Using Ruby on Rails',
              'https://edx.org/professional-certificate/agile-development-using-ruby-rails',
              target: '_blank') %>
  professional certificate program in 2014, I&rsquo;ve been hooked on optimizing for programmer happiness and convention over configuration.
  Today, I&rsquo;m a developer at <%= link_to('Real HQ', 'https://realhq.com', target: '_blank') %>, and I spend a whole lot of my free
  time learning about new tech and working on side projects.
</p>

<h2>Highlighted project</h2>

<h3>DiffAlert</h3>

<p>[screenshot]</p>
<p><%= link_to('Demo', 'http://diffalert.nickholden.io', target: '_blank') %></p>
<p><%= link_to('Source', 'https://github.com/nholden/diffalert', target: '_blank') %></p>
<p>Get email or Slack alerts when specific files in your GitHub repositories change. Perhaps this could be a longer description?</p>

<h2>Selected open source contributions</h2>

<p>
  [merged] [javascript]
  <%= link_to('Fix issue with hyphens in file validation mime types', 'https://github.com/victorjonsson/jQuery-Form-Validator/pull/650', target: '_blank') %>
  victorjonsson/jQuery-Form-Validator
</p>

<p>
  [merged] [ruby]
  <%= link_to('Include "Help make this better" text on track topic pages', 'https://github.com/exercism/exercism.io/pull/3475', target: '_blank') %>
  exercism/exercism.io
</p>
