---
title: Nick Holden
---

<div class="header">
  <div class="headshot">
    <%= image_tag 'headshot.png', width: 150, height: 150 %>
  </div>
  <div class="contact-icons">
    <div class="icon">
      <% link_to('mailto:nick.r.holden@gmail.com', target: '_blank') do %><i class="fa fa-envelope"></i><% end %>
    </div>
    <div class="icon">
      <% link_to('https://github.com/nholden', target: '_blank') do %><i class="fa fa-github"></i><% end %>
    </div>
    <div class="icon">
      <% link_to('https://www.linkedin.com/in/nickholden', target: '_blank') do %><i class="fa fa-linkedin-square"></i><% end %>
    </div>
    <div class="icon">
      <% link_to('https://www.twitter.com/nickyholden', target: '_blank') do %><i class="fa fa-twitter-square"></i><% end %>
    </div>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h1>Hi!</h1>
  </div>
  <div class="content">
    <p>
      I&rsquo;m Nick, a software developer based out of San Diego. I&rsquo;ve always had an interest in programming, and since I completed
      <%= link_to('UC Berkeley&rsquo;s Agile Development Using Ruby on Rails',
                  'https://edx.org/professional-certificate/agile-development-using-ruby-rails',
                  target: '_blank') %>
      professional certificate program in 2014, I&rsquo;ve been hooked on optimizing for programmer happiness and convention over configuration.
      Today, I&rsquo;m a developer at <%= link_to('Real HQ', 'https://realhq.com', target: '_blank') %>, and I spend a whole lot of my free
      time learning about new tech and working on side projects.
    </p>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h2>Projects</h2>
  </div>
  <div class="content">
    <div class="project">
      <div class="project-title"><%= link_to('DiffAlert', 'https://github.com/nholden/diffalert', target: '_blank') %></div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= rails_tech_tag %><%= rspec_tech_tag %><%= javascript_tech_tag %></div>
      <div class="project-description">Get email or Slack alerts when specific files in your GitHub repositories change.</div>
    </div>
  </div>
</div>

<div class="section">
  <div class="headline">
    <h2>Open source contributions</h2>
  </div>
  <div class="content">
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[exercism/ruby] crypto-square: Reflect changes to problem specifications', 'https://github.com/exercism/ruby/pull/738', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= minitest_tech_tag %></div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[exercism/exercism.io] Include "Help make this better" text on track topic pages', 'https://github.com/exercism/exercism.io/pull/3475', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= sinatra_tech_tag %><%= minitest_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[franklsf95/ruby-emoji-regex] Update script and regex for emoji version 6.0', 'https://github.com/franklsf95/ruby-emoji-regex/pull/2', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= ruby_tech_tag %><%= minitest_tech_tag %></div>
    </div>
    <div class="contribution">
      <div class="contribution-title">
        <%= link_to('[victorjonsson/jQuery-Form-Validator] Fix issue with hyphens in file validation mime types', 'https://github.com/victorjonsson/jQuery-Form-Validator/pull/650', target: '_blank') %>
      </div>
      <div class="tech-tags"><%= javascript_tech_tag %></div>
    </div>
  </div>
</div>
